In [1]:
# load Data:

In [2]:
import pandas as pd
import mysql.connector

# Database connection parameters
db_config = {
    'user': 'root',
    'password': 'sunDay01@new',
    'host': 'localhost',  # e.g., 'localhost' or IP address
    'database': 'ClientFinancialRisk'
}

# Connect to MySQL database
conn = mysql.connector.connect(**db_config)

# SQL queries to fetch data from each table
queries = {
    'FinancialMetrics': 'SELECT * FROM FinancialMetrics',
    'FinancialRatios': 'SELECT * FROM FinancialRatios',
    'CashFlowMetrics': 'SELECT * FROM CashFlowMetrics',
    'MarketMetrics': 'SELECT * FROM MarketMetrics',
    'QualitativeFactors': 'SELECT * FROM QualitativeFactors',#
    'CreditInformation': 'SELECT * FROM CreditInformation',#lable encoding
    'OtherFactors': 'SELECT * FROM OtherFactors'#lable encoding
}

# Load data into pandas DataFrames
dfs = {}
for table_name, query in queries.items():
    dfs[table_name] = pd.read_sql(query, conn)

# Close the database connection
conn.close()

# Example: Print the first few rows of each DataFrame
for table_name, df in dfs.items():
    print(f"Data from table: {table_name}")
    print(df.head(), "\n")

Data from table: FinancialMetrics
   CompanyID CompanyName    Revenue  NetIncome    EBITDA  OperatingIncome  \
0          1    CompanyA  1200000.0   250000.0  300000.0         270000.0
1          2    CompanyB   800000.0   150000.0  200000.0         180000.0
2          3    CompanyC  1500000.0   300000.0  350000.0         320000.0
3          4    CompanyD  1000000.0   200000.0  250000.0         220000.0
4          5    CompanyE   950000.0   180000.0  220000.0         200000.0

   GrossProfit  TotalAssets  TotalLiabilities     Equity  CurrentAssets  \
0     600000.0    2000000.0          600000.0  1400000.0       800000.0
1     400000.0    1200000.0          400000.0   800000.0       500000.0
2     700000.0    2500000.0          700000.0  1800000.0       900000.0
3     500000.0    1800000.0          600000.0  1200000.0       700000.0
4     480000.0    1600000.0          500000.0  1100000.0       650000.0

   CurrentLiabilities
0            300000.0
1            200000.0
2            350000.0
3            250000.0
4            220000.0

Data from table: FinancialRatios
   CompanyID  CurrentRatio  QuickRatio  DebtToEquityRatio  \
0          1           2.0         1.5               0.43
1          2           2.5         1.8               0.50
2          3           2.2         1.7               0.39
3          4           1.8         1.4               0.50
4          5           2.1         1.6               0.45

   InterestCoverageRatio    ROA    ROE  GrossMargin  NetProfitMargin  \
0                    5.0  12.50  17.86        50.00            20.83
1                    4.0  12.00  18.75        50.00            18.75
2                    6.0  12.00  16.67        46.67            20.00
3                    5.0  11.11  16.67        48.00            20.00
4                    4.5  11.37  18.00        49.47            18.95

   AssetTurnoverRatio
0                0.60
1                0.67
2                0.65
3                0.56
4                0.59

Data from table: CashFlowMetrics
   CompanyID  OperatingCashFlow  FreeCashFlow  CashFlowFromInvesting  \
0          1           350000.0      220000.0               -60000.0
1          2           250000.0      150000.0               -40000.0
2          3           400000.0      250000.0               -70000.0
3          4           300000.0      180000.0               -50000.0
4          5           280000.0      170000.0               -55000.0

   CashFlowFromFinancing
0                90000.0
1                50000.0
2               120000.0
3                80000.0
4                75000.0

Data from table: MarketMetrics
   CompanyID  StockPriceVolatility  MarketCapitalization  PERatio  EPS  \
0          1                  12.0             2500000.0     15.0  6.0
1          2                  10.0             1500000.0     14.0  5.0
2          3                  15.0             3000000.0     16.0  7.0
3          4                  11.0             2000000.0     14.5  5.5
4          5                  12.5             1800000.0     15.5  6.2

   DividendYield
0            2.5
1            2.0
2            2.8
3            2.2
4            2.3

Data from table: QualitativeFactors
   CompanyID ManagementQuality IndustryTrends RegulatoryEnvironment  \
0          1              High       Positive                Stable
1          2            Medium        Neutral                Stable
2          3              High       Positive                Stable
3          4              High       Positive                Stable
4          5            Medium       Positive                Stable

  MarketCompetition EconomicConditions
0          Moderate            Growing
1              High             Stable
2               Low            Growing
3          Moderate            Growing
4              High             Stable

Data from table: CreditInformation
   CompanyID  CreditScore CreditRating  HistoricalDefaultRates
0          1          750            A                    0.50
1          2          720           B+                    0.60
2          3          770           A+                    0.40
3          4          740           A-                    0.55
4          5          710            B                    0.65

Data from table: OtherFactors
   CompanyID OperationalRisks LegalRisks ReputationalRisks
0          1              Low       None              Good
1          2           Medium       Some           Average
2          3              Low       None              Good
3          4           Medium        Few              Good
4          5             High        Few           Average

C:\Users\WINNER\AppData\Local\Temp\ipykernel_11424\2399257586.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfs[table_name] = pd.read_sql(query, conn)

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

def label_encode(data, columns):
    """
    Perform label encoding on specified columns of a dataframe.

    Args:
    data (pd.DataFrame): The input dataframe.
    columns (list): List of column names to label encode.

    Returns:
    pd.DataFrame: The dataframe with label encoded columns.
    """
    label_encoders = {}
    for column in columns:
        le = LabelEncoder()
        data[column] = le.fit_transform(data[column])
        label_encoders[column] = le
    return data

# Example usage:
df_t = pd.DataFrame({'Color': ['Red', 'Blue', 'Green', 'Blue'], 'Size': ['S', 'M', 'L', 'M']})
a = label_encode(df_t, ['Color', 'Size'])
print(a)

   Color  Size
0      2     2
1      0     1
2      1     0
3      0     1

In [4]:
import pandas as pd

def one_hot_encode(data, columns):
    """
    Perform one-hot encoding on specified columns of a dataframe.

    Args:
    data (pd.DataFrame): The input dataframe.
    columns (list): List of column names to one-hot encode.

    Returns:
    pd.DataFrame: The dataframe with one-hot encoded columns.
    """
    data = pd.get_dummies(data, columns=columns, drop_first=True)
    return data

# Example usage:
# df = pd.DataFrame({'Color': ['Red', 'Blue', 'Green', 'Blue'], 'Size': ['S', 'M', 'L', 'M']})
# df = one_hot_encode(df, ['Color', 'Size'])
# print(df)

In [5]:
import pandas as pd

def drop_columns(data, columns):
    """
    Drop specified columns from a dataframe.

    Args:
    data (pd.DataFrame): The input dataframe.
    columns (list): List of column names to drop.

    Returns:
    pd.DataFrame: The dataframe with the specified columns dropped.
    """
    return data.drop(columns=columns)

# Example usage:
# df = pd.DataFrame({
#     'A': [1, 2, 3],
#     'B': [4, 5, 6],
#     'C': [7, 8, 9]
# })
# df = drop_columns(df, ['B', 'C'])
# print(df)

In [6]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

def standard_scale(df, columns):
    """
    Standardizes the specified columns of the DataFrame to have mean 0 and variance 1.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the data.
    columns (list): The list of column names to standardize.

    Returns:
    pd.DataFrame: The DataFrame with standardized columns.
    """
    scaler = StandardScaler()
    df[columns] = scaler.fit_transform(df[columns])
    return df

# Example usage:
# df = standard_scale(df, ['gdp_growth_rate', 'inflation_rate', 'unemployment_rate', 'cpi', 'stock_market_index'])

In [7]:
#count=1
for key, df in dfs.items():
    print(key)
    dfs[key] = dfs[key].drop('CompanyID', axis=1)
    #count+=1

FinancialMetrics
FinancialRatios
CashFlowMetrics
MarketMetrics
QualitativeFactors
CreditInformation
OtherFactors

In [8]:
dfs['QualitativeFactors']

,ManagementQuality,IndustryTrends,RegulatoryEnvironment,MarketCompetition,EconomicConditions
0,High,Positive,Stable,Moderate,Growing
1,Medium,Neutral,Stable,High,Stable
2,High,Positive,Stable,Low,Growing
3,High,Positive,Stable,Moderate,Growing
4,Medium,Positive,Stable,High,Stable
5,High,Positive,Stable,Low,Growing
6,High,Positive,Stable,Moderate,Growing
7,Medium,Neutral,Stable,High,Stable
8,High,Positive,Stable,Low,Growing
9,Medium,Positive,Stable,Moderate,Growing
10,High,Neutral,Stable,High,Growing
11,Medium,Positive,Stable,Low,Stable
12,High,Positive,Stable,Moderate,Growing
13,Medium,Neutral,Stable,High,Stable
14,High,Positive,Stable,Low,Growing
15,Medium,Positive,Stable,Moderate,Growing
16,High,Neutral,Stable,High,Stable
17,Medium,Positive,Stable,Low,Growing
18,High,Positive,Stable,Moderate,Growing
19,Medium,Neutral,Stable,High,Stable

In [9]:
dfs['QualitativeFactors'].dtypes

ManagementQuality        object
IndustryTrends           object
RegulatoryEnvironment    object
MarketCompetition        object
EconomicConditions       object
dtype: object

In [10]:
dfs_QualitativeFactors_one_hot_encode=[]
dfs_QualitativeFactors_lable_encode=['ManagementQuality','IndustryTrends','RegulatoryEnvironment','MarketCompetition','EconomicConditions']
dfs_QualitativeFactors_drop=['CompanyID']
dfs_QualitativeFactors_numerical=[]

In [11]:
dfs['QualitativeFactors'] = label_encode(dfs['QualitativeFactors'], dfs_QualitativeFactors_lable_encode)
#dfs['QualitativeFactors'] = drop_columns(dfs['QualitativeFactors'], dfs_QualitativeFactors_drop)

In [12]:
dfs['CreditInformation']

    CreditScore CreditRating  HistoricalDefaultRates
0           750            A                    0.50
1           720           B+                    0.60
2           770           A+                    0.40
3           740           A-                    0.55
4           710            B                    0.65
5           760            A                    0.45
6           780           A+                    0.35
7           730           B+                    0.60
8           740           A-                    0.50
9           750            A                    0.55
10          770           A+                    0.40
11          720           B+                    0.60
12          760            A                    0.45
13          740           A-                    0.50
14          750            A                    0.55
15          780           A+                    0.35
16          730           B+                    0.60
17          740           A-                    0.50
18          750            A                    0.55
19          720           B+                    0.60

In [13]:
dfs_CreditInformation_one_hot_encode=[]
dfs_CreditInformation_lable_encode=['CreditRating']
#dfs_CreditInformation_drop=['CompanyID']
dfs_CreditInformation_numerical=['CreditScore','HistoricalDefaultRates']

In [14]:
dfs['CreditInformation'] = label_encode(dfs['CreditInformation'], dfs_CreditInformation_lable_encode)
#dfs['CreditInformation'] = drop_columns(dfs['CreditInformation'], dfs_CreditInformation_drop)
#dfs['CreditInformation'] = standard_scale(dfs['CreditInformation'], dfs_CreditInformation_numerical)

In [15]:
dfs['OtherFactors']

   OperationalRisks LegalRisks ReputationalRisks
0               Low       None              Good
1            Medium       Some           Average
2               Low       None              Good
3            Medium        Few              Good
4              High        Few           Average
5               Low       None              Good
6            Medium       Some              Good
7              High       Some           Average
8               Low       None              Good
9            Medium        Few              Good
10              Low       None         Excellent
11           Medium       Some              Good
12              Low       None              Good
13           Medium        Few           Average
14             High        Few              Good
15              Low       None              Good
16           Medium       Some           Average
17             High        Few              Good
18              Low       None              Good
19           Medium       Some           Average

In [16]:
dfs_OtherFactors_one_hot_encode=[]
dfs_OtherFactors_lable_encode=['OperationalRisks','LegalRisks','ReputationalRisks']
#dfs_OtherFactors_drop=['CompanyID']
dfs_OtherFactors_numerical=[]

In [17]:
dfs['OtherFactors'] = label_encode(dfs['OtherFactors'], dfs_OtherFactors_lable_encode)
#dfs['OtherFactors'] = drop_columns(dfs['OtherFactors'], dfs_OtherFactors_drop)

In [18]:
## FinancialMetrics:

In [19]:
dfs['FinancialMetrics']=dfs['FinancialMetrics'].drop('CompanyName',axis=1)

In [20]:
FinancialMetrics_num= dfs['FinancialMetrics'].columns

In [21]:
#dfs['FinancialMetrics']=standard_scale(dfs['FinancialMetrics'], FinancialMetrics_num)

In [22]:
## FinancialRatios

In [23]:
FinancialRatios_num= dfs['FinancialRatios'].columns

In [24]:
#dfs['FinancialRatios']=standard_scale(dfs['FinancialRatios'], FinancialRatios_num)

In [25]:
##CashFlowMetrics

In [26]:
CashFlowMetrics_num= dfs['CashFlowMetrics'].columns

In [27]:
#dfs['CashFlowMetrics']=standard_scale(dfs['CashFlowMetrics'], CashFlowMetrics_num)

In [28]:
##MarketMetrics

In [29]:
MarketMetrics_num= dfs['MarketMetrics'].columns

In [30]:
#dfs['MarketMetrics']=standard_scale(dfs['MarketMetrics'], MarketMetrics_num)

In [31]:
##QualitativeFactors

In [32]:
dfs['QualitativeFactors']

,ManagementQuality,IndustryTrends,RegulatoryEnvironment,MarketCompetition,EconomicConditions
0,0,1,0,2,0
1,1,0,0,0,1
2,0,1,0,1,0
3,0,1,0,2,0
4,1,1,0,0,1
5,0,1,0,1,0
6,0,1,0,2,0
7,1,0,0,0,1
8,0,1,0,1,0
9,1,1,0,2,0
10,0,0,0,0,0
11,1,1,0,1,1
12,0,1,0,2,0
13,1,0,0,0,1
14,0,1,0,1,0
15,1,1,0,2,0
16,0,0,0,0,1
17,1,1,0,1,0
18,0,1,0,2,0
19,1,0,0,0,1

In [33]:
##CreditInformation

In [34]:
dfs['CreditInformation']

    CreditScore  CreditRating  HistoricalDefaultRates
0           750             0                    0.50
1           720             4                    0.60
2           770             1                    0.40
3           740             2                    0.55
4           710             3                    0.65
5           760             0                    0.45
6           780             1                    0.35
7           730             4                    0.60
8           740             2                    0.50
9           750             0                    0.55
10          770             1                    0.40
11          720             4                    0.60
12          760             0                    0.45
13          740             2                    0.50
14          750             0                    0.55
15          780             1                    0.35
16          730             4                    0.60
17          740             2                    0.50
18          750             0                    0.55
19          720             4                    0.60

In [35]:
CreditInformation_num= dfs['CreditInformation'].columns.drop('CreditRating')

In [36]:
##OtherFactors

In [37]:
dfs['OtherFactors']

    OperationalRisks  LegalRisks  ReputationalRisks
0                  1           1                  2
1                  2           2                  0
2                  1           1                  2
3                  2           0                  2
4                  0           0                  0
5                  1           1                  2
6                  2           2                  2
7                  0           2                  0
8                  1           1                  2
9                  2           0                  2
10                 1           1                  1
11                 2           2                  2
12                 1           1                  2
13                 2           0                  0
14                 0           0                  2
15                 1           1                  2
16                 2           2                  0
17                 0           0                  2
18                 1           1                  2
19                 2           2                  0

In [38]:
### merging column:

In [39]:
import pandas as pd

def merge_dataframes_columnwise(dataframes):
    """
    Merge a list of DataFrames with different column names into a single DataFrame column-wise.
    
    Args:
    dataframes (list of pd.DataFrame): The list of DataFrames to merge.
    
    Returns:
    pd.DataFrame: The merged DataFrame.
    """
    merged_df = pd.concat(dataframes, axis=1)
    return merged_df

# Example usage:
df1 = pd.DataFrame({
    'id1': [1, 2, 3],
    'value1': [10, 20, 30]
})

df2 = pd.DataFrame({
    'id2': [4, 5, 6],
    'value2': [40, 50, 60]
})

df3 = pd.DataFrame({
    'id3': [7, 8, 9],
    'value3': [70, 80, 90]
})

dataframes = [df1, df2, df3]
merged_df = merge_dataframes_columnwise(dataframes)

print(merged_df)

   id1  value1  id2  value2  id3  value3
0    1      10    4      40    7      70
1    2      20    5      50    8      80
2    3      30    6      60    9      90

In [40]:
dataframes_list = list(map(lambda key: dfs[key], dfs))

In [41]:
merged_df = merge_dataframes_columnwise(dataframes_list)

In [42]:
merged_df

,Revenue,NetIncome,EBITDA,OperatingIncome,GrossProfit,TotalAssets,TotalLiabilities,Equity,CurrentAssets,CurrentLiabilities,...,IndustryTrends,RegulatoryEnvironment,MarketCompetition,EconomicConditions,CreditScore,CreditRating,HistoricalDefaultRates,OperationalRisks,LegalRisks,ReputationalRisks
0,1200000.0,250000.0,300000.0,270000.0,600000.0,2000000.0,600000.0,1400000.0,800000.0,300000.0,...,1.0,0.0,2.0,0.0,750.0,0.0,0.50,1.0,1.0,2.0
1,800000.0,150000.0,200000.0,180000.0,400000.0,1200000.0,400000.0,800000.0,500000.0,200000.0,...,0.0,0.0,0.0,1.0,720.0,4.0,0.60,2.0,2.0,0.0
2,1500000.0,300000.0,350000.0,320000.0,700000.0,2500000.0,700000.0,1800000.0,900000.0,350000.0,...,1.0,0.0,1.0,0.0,770.0,1.0,0.40,1.0,1.0,2.0
3,1000000.0,200000.0,250000.0,220000.0,500000.0,1800000.0,600000.0,1200000.0,700000.0,250000.0,...,1.0,0.0,2.0,0.0,740.0,2.0,0.55,2.0,0.0,2.0
4,950000.0,180000.0,220000.0,200000.0,480000.0,1600000.0,500000.0,1100000.0,650000.0,220000.0,...,1.0,0.0,0.0,1.0,710.0,3.0,0.65,0.0,0.0,0.0
5,1300000.0,270000.0,310000.0,290000.0,550000.0,2100000.0,650000.0,1450000.0,750000.0,280000.0,...,1.0,0.0,1.0,0.0,760.0,0.0,0.45,1.0,1.0,2.0
6,1100000.0,230000.0,270000.0,250000.0,520000.0,1900000.0,620000.0,1280000.0,720000.0,270000.0,...,1.0,0.0,2.0,0.0,780.0,1.0,0.35,2.0,2.0,2.0
7,1400000.0,290000.0,340000.0,310000.0,650000.0,2200000.0,700000.0,1500000.0,800000.0,300000.0,...,0.0,0.0,0.0,1.0,730.0,4.0,0.60,0.0,2.0,0.0
8,1150000.0,240000.0,280000.0,260000.0,540000.0,2000000.0,640000.0,1360000.0,780000.0,290000.0,...,1.0,0.0,1.0,0.0,740.0,2.0,0.50,1.0,1.0,2.0
9,1050000.0,210000.0,260000.0,240000.0,510000.0,1900000.0,600000.0,1300000.0,740000.0,260000.0,...,1.0,0.0,2.0,0.0,750.0,0.0,0.55,2.0,0.0,2.0
10,1250000.0,260000.0,320000.0,290000.0,600000.0,2050000.0,670000.0,1380000.0,770000.0,300000.0,...,0.0,0.0,0.0,0.0,770.0,1.0,0.40,1.0,1.0,1.0
11,1400000.0,280000.0,330000.0,300000.0,620000.0,2150000.0,700000.0,1450000.0,800000.0,310000.0,...,1.0,0.0,1.0,1.0,720.0,4.0,0.60,2.0,2.0,2.0
12,1350000.0,270000.0,310000.0,280000.0,600000.0,2100000.0,680000.0,1420000.0,790000.0,320000.0,...,1.0,0.0,2.0,0.0,760.0,0.0,0.45,1.0,1.0,2.0
13,1250000.0,260000.0,300000.0,270000.0,580000.0,2000000.0,650000.0,1350000.0,780000.0,310000.0,...,0.0,0.0,0.0,1.0,740.0,2.0,0.50,2.0,0.0,0.0
14,950000.0,190000.0,230000.0,210000.0,470000.0,1700000.0,500000.0,1200000.0,650000.0,220000.0,...,1.0,0.0,1.0,0.0,750.0,0.0,0.55,0.0,0.0,2.0
15,1150000.0,230000.0,270000.0,250000.0,530000.0,2000000.0,620000.0,1380000.0,760000.0,290000.0,...,1.0,0.0,2.0,0.0,780.0,1.0,0.35,1.0,1.0,2.0
16,1050000.0,210000.0,260000.0,240000.0,500000.0,1900000.0,600000.0,1300000.0,740000.0,260000.0,...,0.0,0.0,0.0,1.0,730.0,4.0,0.60,2.0,2.0,0.0
17,1250000.0,250000.0,310000.0,290000.0,600000.0,2000000.0,670000.0,1330000.0,770000.0,300000.0,...,1.0,0.0,1.0,0.0,740.0,2.0,0.50,0.0,0.0,2.0
18,1200000.0,240000.0,290000.0,270000.0,580000.0,1950000.0,650000.0,1300000.0,750000.0,280000.0,...,1.0,0.0,2.0,0.0,750.0,0.0,0.55,1.0,1.0,2.0
19,1400000.0,270000.0,320000.0,290000.0,610000.0,2050000.0,700000.0,1350000.0,770000.0,290000.0,...,0.0,0.0,0.0,1.0,720.0,4.0,0.60,2.0,2.0,0.0
20,1100000.0,220000.0,270000.0,250000.0,520000.0,1850000.0,620000.0,1230000.0,740000.0,260000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1250000.0,260000.0,310000.0,280000.0,600000.0,1950000.0,650000.0,1300000.0,750000.0,290000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
### target col:

In [44]:
import numpy as np
target = {

    'Risk': np.random.choice([True, False], size=22).astype(int)
}

In [45]:
target_df = pd.DataFrame(target)

In [46]:
# scaling :

In [47]:
# neural Network :

In [48]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical
from sklearn.metrics import classification_report, confusion_matrix

In [49]:
data=merged_df

In [50]:
# Ensure all boolean columns are converted to integers
boolean_columns = data.select_dtypes(include=['bool']).columns
data[boolean_columns] = data[boolean_columns].astype(int)

# Ensure all data is numeric
data = data.apply(pd.to_numeric, errors='coerce')

# Check for and handle missing values
data = data.fillna(0)

In [51]:
pre_nums_col=[dfs_CreditInformation_numerical,FinancialMetrics_num,FinancialRatios_num,CashFlowMetrics_num,MarketMetrics_num,CreditInformation_num]

In [52]:
# Assuming `df` is your DataFrame with features and `target` is the Series with the target column 'Risky'
X = data
y = target_df['Risk']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
for nums_col in pre_nums_col: 
    X_train[nums_col] = scaler.fit_transform(X_train[nums_col])
    X_test[nums_col] = scaler.transform(X_test[nums_col])

#df[columns] = scaler.fit_transform(df[columns])
# Convert target variable to categorical (if necessary)
# y_train = to_categorical(y_train)
# y_test = to_categorical(y_test)

In [53]:
# Initialize the model
model = Sequential()

# Add input layer and hidden layers
model.add(Dense(units=64, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=16, activation='relu'))

# Add output layer
model.add(Dense(units=1, activation='sigmoid'))  # 'sigmoid' for binary classification

# Print model summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                2560

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 16)                528

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 5185 (20.25 KB)
Trainable params: 5185 (20.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [54]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
1/1 [==============================] - 1s 1s/step - loss: 0.6883 - accuracy: 0.4615 - val_loss: 0.7279 - val_accuracy: 0.5000
Epoch 2/50
1/1 [==============================] - 0s 37ms/step - loss: 0.6540 - accuracy: 0.4615 - val_loss: 0.7314 - val_accuracy: 0.5000
Epoch 3/50
1/1 [==============================] - 0s 37ms/step - loss: 0.6259 - accuracy: 0.6154 - val_loss: 0.7333 - val_accuracy: 0.5000
Epoch 4/50
1/1 [==============================] - 0s 38ms/step - loss: 0.6029 - accuracy: 0.6154 - val_loss: 0.7349 - val_accuracy: 0.5000
Epoch 5/50
1/1 [==============================] - 0s 38ms/step - loss: 0.5820 - accuracy: 0.6154 - val_loss: 0.7373 - val_accuracy: 0.2500
Epoch 6/50
1/1 [==============================] - 0s 38ms/step - loss: 0.5634 - accuracy: 0.6923 - val_loss: 0.7402 - val_accuracy: 0.2500
Epoch 7/50
1/1 [==============================] - 0s 40ms/step - loss: 0.5478 - accuracy: 0.7692 - val_loss: 0.7457 - val_accuracy: 0.5000
Epoch 8/50
1/1 [==============================] - 0s 42ms/step - loss: 0.5358 - accuracy: 0.8462 - val_loss: 0.7520 - val_accuracy: 0.5000
Epoch 9/50
1/1 [==============================] - 0s 39ms/step - loss: 0.5243 - accuracy: 0.8462 - val_loss: 0.7571 - val_accuracy: 0.5000
Epoch 10/50
1/1 [==============================] - 0s 43ms/step - loss: 0.5130 - accuracy: 0.7692 - val_loss: 0.7628 - val_accuracy: 0.5000
Epoch 11/50
1/1 [==============================] - 0s 43ms/step - loss: 0.5028 - accuracy: 0.8462 - val_loss: 0.7683 - val_accuracy: 0.5000
Epoch 12/50
1/1 [==============================] - 0s 42ms/step - loss: 0.4933 - accuracy: 0.8462 - val_loss: 0.7730 - val_accuracy: 0.5000
Epoch 13/50
1/1 [==============================] - 0s 44ms/step - loss: 0.4837 - accuracy: 0.8462 - val_loss: 0.7776 - val_accuracy: 0.2500
Epoch 14/50
1/1 [==============================] - 0s 41ms/step - loss: 0.4748 - accuracy: 0.8462 - val_loss: 0.7813 - val_accuracy: 0.2500
Epoch 15/50
1/1 [==============================] - 0s 42ms/step - loss: 0.4667 - accuracy: 0.8462 - val_loss: 0.7857 - val_accuracy: 0.2500
Epoch 16/50
1/1 [==============================] - 0s 64ms/step - loss: 0.4587 - accuracy: 0.8462 - val_loss: 0.7897 - val_accuracy: 0.2500
Epoch 17/50
1/1 [==============================] - 0s 45ms/step - loss: 0.4506 - accuracy: 0.8462 - val_loss: 0.7945 - val_accuracy: 0.2500
Epoch 18/50
1/1 [==============================] - 0s 44ms/step - loss: 0.4424 - accuracy: 0.8462 - val_loss: 0.7998 - val_accuracy: 0.2500
Epoch 19/50
1/1 [==============================] - 0s 42ms/step - loss: 0.4341 - accuracy: 0.8462 - val_loss: 0.8055 - val_accuracy: 0.2500
Epoch 20/50
1/1 [==============================] - 0s 44ms/step - loss: 0.4260 - accuracy: 0.8462 - val_loss: 0.8118 - val_accuracy: 0.2500
Epoch 21/50
1/1 [==============================] - 0s 43ms/step - loss: 0.4185 - accuracy: 0.8462 - val_loss: 0.8178 - val_accuracy: 0.2500
Epoch 22/50
1/1 [==============================] - 0s 46ms/step - loss: 0.4112 - accuracy: 0.8462 - val_loss: 0.8238 - val_accuracy: 0.2500
Epoch 23/50
1/1 [==============================] - 0s 45ms/step - loss: 0.4040 - accuracy: 0.8462 - val_loss: 0.8297 - val_accuracy: 0.2500
Epoch 24/50
1/1 [==============================] - 0s 44ms/step - loss: 0.3966 - accuracy: 0.8462 - val_loss: 0.8353 - val_accuracy: 0.2500
Epoch 25/50
1/1 [==============================] - 0s 45ms/step - loss: 0.3891 - accuracy: 0.8462 - val_loss: 0.8404 - val_accuracy: 0.2500
Epoch 26/50
1/1 [==============================] - 0s 46ms/step - loss: 0.3816 - accuracy: 0.9231 - val_loss: 0.8449 - val_accuracy: 0.2500
Epoch 27/50
1/1 [==============================] - 0s 43ms/step - loss: 0.3743 - accuracy: 0.9231 - val_loss: 0.8512 - val_accuracy: 0.2500
Epoch 28/50
1/1 [==============================] - 0s 43ms/step - loss: 0.3669 - accuracy: 1.0000 - val_loss: 0.8583 - val_accuracy: 0.2500
Epoch 29/50
1/1 [==============================] - 0s 45ms/step - loss: 0.3596 - accuracy: 1.0000 - val_loss: 0.8665 - val_accuracy: 0.2500
Epoch 30/50
1/1 [==============================] - 0s 44ms/step - loss: 0.3527 - accuracy: 1.0000 - val_loss: 0.8749 - val_accuracy: 0.2500
Epoch 31/50
1/1 [==============================] - 0s 47ms/step - loss: 0.3460 - accuracy: 1.0000 - val_loss: 0.8823 - val_accuracy: 0.2500
Epoch 32/50
1/1 [==============================] - 0s 44ms/step - loss: 0.3391 - accuracy: 1.0000 - val_loss: 0.8886 - val_accuracy: 0.2500
Epoch 33/50
1/1 [==============================] - 0s 42ms/step - loss: 0.3320 - accuracy: 1.0000 - val_loss: 0.8956 - val_accuracy: 0.2500
Epoch 34/50
1/1 [==============================] - 0s 44ms/step - loss: 0.3251 - accuracy: 1.0000 - val_loss: 0.9033 - val_accuracy: 0.2500
Epoch 35/50
1/1 [==============================] - 0s 46ms/step - loss: 0.3179 - accuracy: 1.0000 - val_loss: 0.9131 - val_accuracy: 0.2500
Epoch 36/50
1/1 [==============================] - 0s 42ms/step - loss: 0.3101 - accuracy: 1.0000 - val_loss: 0.9239 - val_accuracy: 0.2500
Epoch 37/50
1/1 [==============================] - 0s 42ms/step - loss: 0.3027 - accuracy: 1.0000 - val_loss: 0.9331 - val_accuracy: 0.2500
Epoch 38/50
1/1 [==============================] - 0s 43ms/step - loss: 0.2951 - accuracy: 1.0000 - val_loss: 0.9400 - val_accuracy: 0.2500
Epoch 39/50
1/1 [==============================] - 0s 45ms/step - loss: 0.2869 - accuracy: 1.0000 - val_loss: 0.9448 - val_accuracy: 0.2500
Epoch 40/50
1/1 [==============================] - 0s 44ms/step - loss: 0.2783 - accuracy: 1.0000 - val_loss: 0.9500 - val_accuracy: 0.2500
Epoch 41/50
1/1 [==============================] - 0s 72ms/step - loss: 0.2694 - accuracy: 1.0000 - val_loss: 0.9538 - val_accuracy: 0.2500
Epoch 42/50
1/1 [==============================] - 0s 45ms/step - loss: 0.2608 - accuracy: 1.0000 - val_loss: 0.9581 - val_accuracy: 0.2500
Epoch 43/50
1/1 [==============================] - 0s 49ms/step - loss: 0.2518 - accuracy: 1.0000 - val_loss: 0.9652 - val_accuracy: 0.2500
Epoch 44/50
1/1 [==============================] - 0s 52ms/step - loss: 0.2426 - accuracy: 1.0000 - val_loss: 0.9739 - val_accuracy: 0.2500
Epoch 45/50
1/1 [==============================] - 0s 59ms/step - loss: 0.2338 - accuracy: 1.0000 - val_loss: 0.9830 - val_accuracy: 0.2500
Epoch 46/50
1/1 [==============================] - 0s 59ms/step - loss: 0.2251 - accuracy: 1.0000 - val_loss: 0.9906 - val_accuracy: 0.2500
Epoch 47/50
1/1 [==============================] - 0s 53ms/step - loss: 0.2164 - accuracy: 1.0000 - val_loss: 0.9987 - val_accuracy: 0.2500
Epoch 48/50
1/1 [==============================] - 0s 55ms/step - loss: 0.2079 - accuracy: 1.0000 - val_loss: 1.0089 - val_accuracy: 0.2500
Epoch 49/50
1/1 [==============================] - 0s 58ms/step - loss: 0.1995 - accuracy: 1.0000 - val_loss: 1.0183 - val_accuracy: 0.2500
Epoch 50/50
1/1 [==============================] - 0s 55ms/step - loss: 0.1913 - accuracy: 1.0000 - val_loss: 1.0276 - val_accuracy: 0.2500

In [55]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
1/1 [==============================] - 1s 1s/step - loss: 0.1830 - accuracy: 1.0000 - val_loss: 1.0396 - val_accuracy: 0.2500
Epoch 2/50
1/1 [==============================] - 0s 37ms/step - loss: 0.1749 - accuracy: 1.0000 - val_loss: 1.0691 - val_accuracy: 0.2500
Epoch 3/50
1/1 [==============================] - 0s 37ms/step - loss: 0.1662 - accuracy: 1.0000 - val_loss: 1.0916 - val_accuracy: 0.2500
Epoch 4/50
1/1 [==============================] - 0s 37ms/step - loss: 0.1584 - accuracy: 1.0000 - val_loss: 1.1070 - val_accuracy: 0.2500
Epoch 5/50
1/1 [==============================] - 0s 37ms/step - loss: 0.1506 - accuracy: 1.0000 - val_loss: 1.1222 - val_accuracy: 0.2500
Epoch 6/50
1/1 [==============================] - 0s 36ms/step - loss: 0.1429 - accuracy: 1.0000 - val_loss: 1.1407 - val_accuracy: 0.2500
Epoch 7/50
1/1 [==============================] - 0s 37ms/step - loss: 0.1353 - accuracy: 1.0000 - val_loss: 1.1629 - val_accuracy: 0.2500
Epoch 8/50
1/1 [==============================] - 0s 38ms/step - loss: 0.1278 - accuracy: 1.0000 - val_loss: 1.1851 - val_accuracy: 0.2500
Epoch 9/50
1/1 [==============================] - 0s 38ms/step - loss: 0.1213 - accuracy: 1.0000 - val_loss: 1.2122 - val_accuracy: 0.2500
Epoch 10/50
1/1 [==============================] - 0s 38ms/step - loss: 0.1151 - accuracy: 1.0000 - val_loss: 1.2347 - val_accuracy: 0.2500
Epoch 11/50
1/1 [==============================] - 0s 39ms/step - loss: 0.1088 - accuracy: 1.0000 - val_loss: 1.2518 - val_accuracy: 0.2500
Epoch 12/50
1/1 [==============================] - 0s 37ms/step - loss: 0.1022 - accuracy: 1.0000 - val_loss: 1.2654 - val_accuracy: 0.2500
Epoch 13/50
1/1 [==============================] - 0s 38ms/step - loss: 0.0958 - accuracy: 1.0000 - val_loss: 1.2737 - val_accuracy: 0.2500
Epoch 14/50
1/1 [==============================] - 0s 38ms/step - loss: 0.0898 - accuracy: 1.0000 - val_loss: 1.2838 - val_accuracy: 0.2500
Epoch 15/50
1/1 [==============================] - 0s 39ms/step - loss: 0.0841 - accuracy: 1.0000 - val_loss: 1.2959 - val_accuracy: 0.2500
Epoch 16/50
1/1 [==============================] - 0s 38ms/step - loss: 0.0786 - accuracy: 1.0000 - val_loss: 1.3132 - val_accuracy: 0.2500
Epoch 17/50
1/1 [==============================] - 0s 36ms/step - loss: 0.0735 - accuracy: 1.0000 - val_loss: 1.3355 - val_accuracy: 0.2500
Epoch 18/50
1/1 [==============================] - 0s 37ms/step - loss: 0.0684 - accuracy: 1.0000 - val_loss: 1.3582 - val_accuracy: 0.2500
Epoch 19/50
1/1 [==============================] - 0s 37ms/step - loss: 0.0637 - accuracy: 1.0000 - val_loss: 1.3792 - val_accuracy: 0.2500
Epoch 20/50
1/1 [==============================] - 0s 35ms/step - loss: 0.0592 - accuracy: 1.0000 - val_loss: 1.3966 - val_accuracy: 0.2500
Epoch 21/50
1/1 [==============================] - 0s 34ms/step - loss: 0.0549 - accuracy: 1.0000 - val_loss: 1.4142 - val_accuracy: 0.2500
Epoch 22/50
1/1 [==============================] - 0s 34ms/step - loss: 0.0509 - accuracy: 1.0000 - val_loss: 1.4311 - val_accuracy: 0.2500
Epoch 23/50
1/1 [==============================] - 0s 33ms/step - loss: 0.0472 - accuracy: 1.0000 - val_loss: 1.4479 - val_accuracy: 0.2500
Epoch 24/50
1/1 [==============================] - 0s 33ms/step - loss: 0.0437 - accuracy: 1.0000 - val_loss: 1.4660 - val_accuracy: 0.2500
Epoch 25/50
1/1 [==============================] - 0s 34ms/step - loss: 0.0407 - accuracy: 1.0000 - val_loss: 1.4884 - val_accuracy: 0.2500
Epoch 26/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0379 - accuracy: 1.0000 - val_loss: 1.5163 - val_accuracy: 0.2500
Epoch 27/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0352 - accuracy: 1.0000 - val_loss: 1.5463 - val_accuracy: 0.2500
Epoch 28/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0328 - accuracy: 1.0000 - val_loss: 1.5772 - val_accuracy: 0.2500
Epoch 29/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0305 - accuracy: 1.0000 - val_loss: 1.6064 - val_accuracy: 0.2500
Epoch 30/50
1/1 [==============================] - 0s 33ms/step - loss: 0.0285 - accuracy: 1.0000 - val_loss: 1.6330 - val_accuracy: 0.2500
Epoch 31/50
1/1 [==============================] - 0s 34ms/step - loss: 0.0265 - accuracy: 1.0000 - val_loss: 1.6549 - val_accuracy: 0.2500
Epoch 32/50
1/1 [==============================] - 0s 33ms/step - loss: 0.0247 - accuracy: 1.0000 - val_loss: 1.6735 - val_accuracy: 0.2500
Epoch 33/50
1/1 [==============================] - 0s 33ms/step - loss: 0.0230 - accuracy: 1.0000 - val_loss: 1.6920 - val_accuracy: 0.2500
Epoch 34/50
1/1 [==============================] - 0s 33ms/step - loss: 0.0215 - accuracy: 1.0000 - val_loss: 1.7116 - val_accuracy: 0.2500
Epoch 35/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0202 - accuracy: 1.0000 - val_loss: 1.7314 - val_accuracy: 0.2500
Epoch 36/50
1/1 [==============================] - 0s 33ms/step - loss: 0.0189 - accuracy: 1.0000 - val_loss: 1.7484 - val_accuracy: 0.2500
Epoch 37/50
1/1 [==============================] - 0s 31ms/step - loss: 0.0177 - accuracy: 1.0000 - val_loss: 1.7620 - val_accuracy: 0.2500
Epoch 38/50
1/1 [==============================] - 0s 31ms/step - loss: 0.0166 - accuracy: 1.0000 - val_loss: 1.7743 - val_accuracy: 0.2500
Epoch 39/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0156 - accuracy: 1.0000 - val_loss: 1.7863 - val_accuracy: 0.2500
Epoch 40/50
1/1 [==============================] - 0s 33ms/step - loss: 0.0147 - accuracy: 1.0000 - val_loss: 1.7999 - val_accuracy: 0.2500
Epoch 41/50
1/1 [==============================] - 0s 34ms/step - loss: 0.0138 - accuracy: 1.0000 - val_loss: 1.8161 - val_accuracy: 0.2500
Epoch 42/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0130 - accuracy: 1.0000 - val_loss: 1.8333 - val_accuracy: 0.2500
Epoch 43/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0122 - accuracy: 1.0000 - val_loss: 1.8495 - val_accuracy: 0.2500
Epoch 44/50
1/1 [==============================] - 0s 33ms/step - loss: 0.0115 - accuracy: 1.0000 - val_loss: 1.8647 - val_accuracy: 0.2500
Epoch 45/50
1/1 [==============================] - 0s 33ms/step - loss: 0.0109 - accuracy: 1.0000 - val_loss: 1.8782 - val_accuracy: 0.2500
Epoch 46/50
1/1 [==============================] - 0s 34ms/step - loss: 0.0102 - accuracy: 1.0000 - val_loss: 1.8905 - val_accuracy: 0.2500
Epoch 47/50
1/1 [==============================] - 0s 35ms/step - loss: 0.0097 - accuracy: 1.0000 - val_loss: 1.9030 - val_accuracy: 0.2500
Epoch 48/50
1/1 [==============================] - 0s 34ms/step - loss: 0.0091 - accuracy: 1.0000 - val_loss: 1.9166 - val_accuracy: 0.2500
Epoch 49/50
1/1 [==============================] - 0s 34ms/step - loss: 0.0087 - accuracy: 1.0000 - val_loss: 1.9294 - val_accuracy: 0.2500
Epoch 50/50
1/1 [==============================] - 0s 35ms/step - loss: 0.0082 - accuracy: 1.0000 - val_loss: 1.9415 - val_accuracy: 0.2500

In [56]:
# Save the model
model.save('Client_financial_risk_model.h5')

C:\Users\WINNER\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [57]:
import joblib

# Save the scaler
joblib.dump(scaler, 'Client_financial_risk_model_scaler.pkl')

['Client_financial_risk_model_scaler.pkl']